<launch>
    <node pkg="scale_mono_vo_ros" name="vo_node" type="vo_node" output="screen">
        <!-- Image topicname to be subscribed -->
        <param name="topicname_image" type="string" value="/kitti_odometry/left/image_raw"/>
        
        <!-- topicname of the VO pose estimation to be published -->
        <param name="topicname_pose"            type="string" value="/scale_mono_vo/pose"/>
        <param name="topicname_trajectory"      type="string" value="/scale_mono_vo/trajectory"/>
        <param name="topicname_map_points"      type="string" value="/scale_mono_vo/map_points"/>

        <!-- intrinsic parameter yaml file directory -->
        <param name="directory_intrinsic" type="string" value="$(find scale_mono_vo_ros)/config/kitti_00.yaml"/>

        <!-- ORB parameters -->
        <param name="/ORBextractor/nFeatures"   type="int"    value="1000" />
        <param name="/ORBextractor/scaleFactor" type="double" value="1.2" />
        <param name="/ORBextractor/nLevels"     type="int"    value="8" />
        <param name="/ORBextractor/iniThFAST"   type="int"    value="20" />
        <param name="/ORBextractor/minThFAST"   type="int"    value="7" />
    </node>
</launch>
